            body{
                background-color: aqua;
            }
            h1{
                margin-left: 20px;
                color: blue;
            }
            table, tr, th, td{
                border: 4px solid;
                padding: 20px;
                border-spacing: 5px;
            }
            th{
                color: blue;
            }
            table{
                border-collapse: collapse;
                background-color: green;
                margin-left: 40px;
            }
            td:first-child{
                color: blue;
            }