            .details{
                background-color: aqua;
            }
            .details h1{
                color: blueviolet;
            }
            .car{
                background-color: rgb(0, 255, 42);
            }
            body{
                background-color: red;
            }