*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
svg{
    width: 500px;
    height: 500px;
    fill: none;
    stroke: #ff004f;
    stroke-width: 3;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
}